.header {
    background-color: #1E022D;

    color: #f6f6f6;
    margin-bottom: 7rem;
    box-shadow: 0px 0px 10px #000;

    padding: 70px 0 0 0;
    text-align:center;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}
.wfheader {
    background-color: #eee;

    color: #333;
    margin-bottom: 7rem;

    padding: 90px 0 0 0;
    text-align: center;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}
.header iframe {
    margin-top: 5rem;
    margin-bottom: 3rem;
    margin-left:1rem;
}
.wfheader iframe {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left:1rem;
}
.header h1 {
    font-size: 43.2px;
}
.logoimg {
    width: 66%;
}
.header h3 {
    font-weight: 100;
}
.intro p {
    font-size: 2.3rem;
}

h1 {
    font-weight: 600;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

body p {
    font-family: 'Source Serif Pro', Helvetica, serif;
}

.feature {
    font-size:2rem;
    margin-bottom: 6rem;
}
p {
    margin-bottom: 2.5rem;
}

.cyan {
    color: #57dada;
}
.prompt{
    color: #ff0000;
}

.demo {
    font-size: 1.5rem;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    background-color: #222;
    padding:30px;
    border-radius:3px;
}

.segment {
    text-align:center;
    padding: 0 4rem;
}
.segment h1 {
    margin-bottom:3rem;
}

.learnmore {
    text-align: center;
    background-color: #222;
    color:#fff;
}
.learnmore p {
    font-weight: 100;
    font-family: 'Source Sans Pro', Sans-Serif;
}
ul {
   list-style: none 
}

.three {
    background-color: #e0e0e0;
    padding-top: 50px;
}

.whyfission h2 {
    text-align:center;
    margin:5rem;
}

.usecase {
    text-align:center;
    padding-top: 3rem;
    border-top:1px solid #ddd;
}
.usecase h1 {
    color: #555;
    margin-bottom: 50px;
}

.learnmore {
    padding-bottom:4rem;
}
.learnmore h1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.learnmore .btn {
    margin:3rem 4rem;
}
.learnmore p{
    font-size: 2rem;
    margin-top:5rem;
}

.navbar {
    margin-bottom: 0 !important;
    border-radius: 0;
    background-image: none;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    background-color: #1E022D;
    font-size: 1.8rem;
}
.navbar-brand {
    font-size: 2rem;
}
.navbar-fixed-top {
    border-width: 0;
}
.learnmore .btn-outline {
    border: 1px solid #777;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 20pt;
    color: #fff;
    font-weight: 100;
    padding-right:20px;
}