<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="theme-color" content="#ffffff"/>


	<!-- Favicons -->
	<link rel="apple-touch-icon" href="/img/favicon.png">
	<link rel="icon" href="/img/favicon.png">
	<title>
		{{ .Title }}
	</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="/css/styles.css" rel="stylesheet"/>
	<link href="/css/footer.css" rel="stylesheet" />

</head>
