{{ define "main" }}
<div class="hero">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 hero-section-mobile" style="margin:0 auto">
				<h1 class="hero-title">
					{{ .Title }}
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-9" style="margin:0 auto">
				{{ partial "metadata.html" . }}
			</div>
		</div>
	</div>
</div>

<div class="body-container">
	<div class="container">
		<br/>
		<div class="row">
			{{ if .Params.Image }}
			<img src="{{ .Params.Image | relURL }}" class="img-fluid mx-auto w-50 mb-5" alt="{{ .Title | markdownify }}">
			{{ end }}
			<div class="col-lg-9" style="margin: 10px auto">
				{{ .Content }}
			</div>
			<div class="col-lg-9" style="margin: 10px auto">
				{{ with .Params.categories }}
				<i data-feather="category"></i>
				{{ range . }}
				{{ $href := print (absURL "categories/") (urlize .) }}
				<a class="btn btn-sm btn-light btn-outline-dark post-tag" href="{{ $href }}">{{ . }}</a>
				{{ end }}
				{{ end }}
			</div>
		</div>
	</div>
</div>
{{ end }}
